<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-label position="floating">Cod. Empresa:</ion-label>
      <ion-input type="Empresa" [(ngModel)]="enterprise"></ion-input>
      <ion-label position="floating">Matricula:</ion-label>
      <ion-input type="Matricula" [(ngModel)]="registration"></ion-input>

      <ion-button (click)="login()">Entrar</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>
