<ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
  <ion-header collapse="condense">
    <ion-title>Login</ion-title>
</ion-header>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-label position="floating">Cod. Empresa:</ion-label>
      <ion-input type="Empresa" [(ngModel)]="companyId"></ion-input>
      <ion-label position="floating">Matricula:</ion-label>
      <ion-input type="Matricula" [(ngModel)]="userId"></ion-input>

      <ion-button (click)="login()">Entrar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer collapse="condense">
  App Ponto V1.0
</ion-footer>
