.login-page {
  max-width: 500px;
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
  padding: 10px;
}

.user-icon {
  color: #011c43e6;
  font-size: 30px;
  justify-content: right;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.company-icon {
  color: #011c43e6;
  font-size: 30px;
  justify-content: right;
  position: relative;
  display: flex;
  margin-bottom: 20px;
}

.login-card {
  border-radius: 10px;
  flex-flow: column;
  box-shadow: 5px 5px 15px black;
  background-color: #6c969c80;
  box-shadow: 0px 0px 5px #6e7f8f;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(40vh - 300px);
  margin-bottom: 5px;
  min-width: 340px;
  min-height: 250px;
  padding: 8px;
  filter: contrast(120%);
  filter: brightness(115%);
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 600;
  color: #011d43;
  min-height: 60px;
  margin-bottom: 5px;
}

ion-checkbox {
  min-height: 50px;
  --size: 20px;
  --checkbox-background-checked: #6c969c80;
  --checkbox-background: #6c969c80;
  --checkmark-color: #011c43e6
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #011c43e6;
  background-color: #6c969c80;
}

ion-checkbox::content{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #011d43;
  display: flex;
  position: relative;
}

ion-button {
  margin-top: 10px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 55px;
  font-size: 20px;
  font-weight: 800;
  color: #6e7f8f;
}

.login-page__logo {
  max-width: 70%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(50vh - 250px);
  margin-bottom: 30px;
}

ion-content{
  --ion-background-color: radial-gradient(
    circle, rgba(0,0,0,0.6138830532212884) 0%,
    rgba(1,164,78,0.5186449579831933) 0%,
     rgba(1,28,67,0.7175245098039216) 100%
    );
    filter: brightness(120%) contrast(120%);
}

.spinner-button i.fa-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-button.is-spinning i.fa-spinner {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
