ion-header {
  border-bottom: #6e7f8f 1px solid;
  height: 80px;
  position: absolute;
  flex-flow: column;
  display: block;
}

.header-icon {
  padding: 1px;
  position: relative;
}

.app-name {
  margin-left: 50px;
  margin-top: 6px;
  display: flex;
}

.header-title {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: 800;
  background-color: #01a44e;
  color: #011c43e6;
  font-size: 25px;
  border-bottom: #6e7f8f 1px solid;
  height: 80px;
  text-shadow: 1px 0px 2px #6e7f8f;
  position: relative;
  justify-content: left;
  align-items: self-end;
  padding: 10px;
}

.clock-icon {
  color: #011c43e6;
  font-size: 30px;
  border-radius: 50px;
  position: absolute;
  display: flex;
}

.login-card-icon {
  position: relative;
  display: flex;
  padding: 20px;
}

.user-icon {
  margin-top: 20px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  color: #011c43e6;
  font-size: 70px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px whitesmoke;
  display: block;
}

.company-icon {
  margin-top: 20px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  color: #011c43e6;
  font-size: 70px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px whitesmoke;
  display: block;
}

.login-card {
  background-image: url(../../assets/icon/favicon.png);
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center;
  border: 1px solid #01a44e;
  border-radius: 10px;
  max-width: 350px;
  flex-flow: column;
  box-shadow: 5px 5px 15px black;
  background-color: #7fbd8c;
  box-shadow: 0px 0px 5px #6e7f8f;
  margin-top: calc(50vh - 200px);
  margin-bottom: calc(50vh - 250px);
  margin-left: auto;
  margin-right: auto;
  padding: 1px;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-input {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  text-shadow: 1px 1px 2px #000;
  font-weight: 800;
  color: #d6d6d6;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  display: flex;
  border: #011c43e6 3px solid;
  border-radius: 8px;
  backdrop-filter: blur(5px);
  box-shadow: 1px 1px 10px #6e7f8f;
  --border-width: 1px
  --border-radius: 10px
}

ion-checkbox {
  --size: 32px;
  --checkbox-background-checked: #7fbd8c;
  --checkbox-background: #7fbd8c;
  --checkmark-color: #01a44e
}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 2px solid #011c43e6;
  background-color: #7fbd8c;
  margin-bottom: 6px;
  box-shadow: 0px 0px 5px #6e7f8f;
}

ion-checkbox::content{
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 800;
  color: #d6d6d6;
  text-shadow: 1px 0px 2px #000;
  display: flex;
  position: relative;
  padding: 2px;
}

ion-button {
  margin-top: 10px;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  font-size: 20px;
  font-weight: 800;
  color: #d6d6d6;
  text-shadow: #6e7f8f;
}

ion-content{
  --ion-background-color: radial-gradient(
    circle, rgba(0,0,0,0.6138830532212884) 0%,
     rgba(1,28,67,0.7175245098039216) 35%,
     rgba(1,164,78,0.5186449579831933) 100%
    );
  border: #6e7f8f 0.1px solid;
  display: flex;
  position: relative;
}

ion-footer{
  background-color: #01a44e;
  min-height: 50px;
  font-size: 20px;
  font-weight: 800;
  border: #01a44e 10px solid;
  color: #011c43e6;
  justify-content: left;
  text-shadow: 1px 0px 2px #6e7f8f;
  bottom: 0;
  position: fixed;
}

.spinner-button i.fa-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-button.is-spinning i.fa-spinner {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
