ion-card-header.ios {
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
ion-card-header.md {
    border-bottom: 1px solid #e5e5e5;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
ion-icon.ios {
    font-size: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
ion-icon.md {
    font-size: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}
ion-card-content.ios {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}
ion-card-content.md {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    color: #000;
}
ion-card.ios {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}
ion-card.md {
    border-radius: 0;
    border: 1px solid #e5e5e5;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}
ion-button.ios{
    --border-radius: 0;
    --border-width: 0;
    --border-color: #e5e5e5;
    --background: #f5f5f5;
    --color: #000;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --font-size: 1.25rem;
    --font-weight: 500;
    --line-height: 1.2;
}
ion-button.md{
    --border-radius: 0;
    --border-width: 0;
    --border-color: #e5e5e5;
    --background: #f5f5f5;
    --color: #000;
    --padding-top: 0.5rem;
    --padding-bottom: 0.5rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --font-size: 1.25rem;
    --font-weight: 500;
    --line-height: 1.2;
}
