ion-card-header.ios {
  display: flex;
  align-items: safe center;
  flex-flow: column;
}
ion-card-header.md {
  display: flex;
  align-items: safe center;
  flex-flow: column;
}

ion-icon{
  color: #011c43e6;
  font-size: 100px;
  margin-top: 30px;
  border-radius: 50px;
  box-shadow: 0px 0px 15px whitesmoke;
}

ion-card-content.ios{
  background-image: url(../../../assets/icon/favicon.png);
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: top;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

ion-card-content.md{
  background-image: url(../../../assets/icon/favicon.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: top;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  flex-flow: column;
}

ion-card{
  margin-top: 90px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  flex-flow: column;
  box-shadow: 5px 5px 15px black;
  background-color: #7fbd8c;
}

ion-card.ios{
  margin-top: 90px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  max-width: 500px;
  max-height: 500px;
  flex-flow: column;
}

ion-label{
  color: #fff;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-shadow: 0px 0px 5px #000;
  font-style: italic;
  text-align: auto;
  margin-top: 20px;
  margin-bottom: auto;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

ion-label.ios{
  color: #fff;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-shadow: 0px 0px 5px #000;
  text-align: auto;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

ion-input{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: #fff 1px solid;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 1px 0px 15px black;
  text-shadow: 1px 0px 5px #000;
}

ion-input.ios{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: left;
  position: relative;
  display: flex;
  border: #fff 1px solid;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

ion-button.md{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  border-radius: 30px;
  max-width: auto;
  max-height: auto;
  min-height: 60px;
  min-width: 230px;
  margin-top: 60px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 15px black;
  text-shadow: 1px 0px 5px #000;
}

ion-button.ios{
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  border-radius: 10px;
  max-width: auto;
  max-height: auto;
  margin-left: auto;
  margin-right: auto;
  min-width: 220px;
  box-shadow: 0px 5px 15px black;
  text-shadow: 1px 0px 5px #000;
}

ion-content{
  --ion-background-color: radial-gradient(
    circle, rgba(0,0,0,0.6138830532212884) 0%,
     rgba(1,28,67,0.7175245098039216) 35%,
     rgba(1,164,78,0.5186449579831933) 100%
    );
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: #6e7f8f 0.1px solid;
  flex-flow: column;
}

ion-header{
  --ion-background-color: #01a44e;
  background-color: #01a44e;
  display: flex;
  position: relative;
  min-width: 2500px;
}

ion-header.ios{
  --ion-background-color: #01a44e;
  background-color: #01a44e;
  display: flex;
  min-width: 2500px;
  position: relative;
}

ion-title{
  --ion-background-color: #01a44e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #01a44e;
  color: #fff;
  font-size: 20px;
  text-align: left;
  display: block;
  border-bottom: #6e7f8f 1px solid;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: -10px;
  margin-right: auto;
  padding: auto;
  text-shadow: 1px 0px 5px #000;
}

ion-title.ios{
  background-color: #01a44e;
  color: #fff;
  font-size: 20px;
  text-align: left;
  display: flex;
  border-bottom: #6e7f8f 1px solid;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
}

ion-footer{
  --ion-background-color: #01a44e;
  background-color: #01a44e;
  min-height: 50px;
  font-size: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border: #01a44e 10px solid;
  color: #f5f5f5;
  justify-content: left;
  text-shadow: 1px 0px 5px #000;
}

.spinner-button {
  position: relative;
}

.spinner-button i.fa-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner-button.is-spinning i.fa-spinner {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
