ion-card.ios{
    border-radius: 0;
    border: 1px solid #e5e5e5;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}
ion-card.md{
    border-radius: 0;
    border: 1px solid #e5e5e5;
    margin: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}
