<ion-header class="register-title">
  <ion-toolbar>
    <ion-title>Registrar ponto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <ng-container *ngIf=" user.hasInterval === true; else noInterval">
  <ion-list *ngFor="let record of records | keyvalue">
    <ion-item>
      <ion-label>{{ record.key }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>chegada: {{ record.value.chegada }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>intervalo: {{ record.value.intervalo }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>retorno: {{ record.value.retorno }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>saída: {{ record.value.saida }}</ion-label>
    </ion-item>
  </ion-list>
</ng-container>
<ng-template #noInterval>
  <ion-list *ngFor="let record of records | keyvalue">
    <ion-item>
      <ion-label>{{ record.key }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>chegada: {{ record.value.chegada }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>saída: {{ record.value.saida }}</ion-label>
    </ion-item>
  </ion-list>
</ng-template>
  <div class="clock">
    <p id="time"></p>
  </div>
  <ion-button (click)="recordTime()" id="record-time-btn" expand="block">{{ recordState }}</ion-button>
</ion-content>
