<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title">Registros</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="filter !== 'custom'; else selecPeriod">
    <ion-card>
      <ion-item lines="none" class="bankedHours-filter">
        <ion-select aria-label="filter" slot="end" [(ngModel)]="filter" (ionChange)="getRecordsByInterval()"
          class="bankedHours-select">
          <ion-select-option value="week">Últimos sete dias</ion-select-option>
          <ion-select-option value="month">Mês anterior</ion-select-option>
          <ion-select-option value="year">Últimos doze meses</ion-select-option>
          <ion-select-option value="custom">Período específico</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card>
  </ng-container>
  <ng-template #selecPeriod>
    <ion-card>
      <ion-item>
        <ion-label>Data inicial</ion-label>
        <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="interval.startDate"
          (ionChange)="getRecordsByInterval()"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Data final</ion-label>
        <ion-datetime presentation="date" displayFormat="DD/MM/YYYY" [(ngModel)]="interval.endDate"
          (ionChange)="getRecordsByInterval()"></ion-datetime>
      </ion-item>
    </ion-card>
  </ng-template>
  <ion-card>
    <ion-card-header class="banked-hours-card-header">
      <ion-item lines="none" class="bankedHours-title">
        <ion-title class="bankedHours-title-text">
          Banco de Horas
        </ion-title>
      </ion-item>
      <ion-item id="totalBankedHours" lines="none" class="bankedHours-items">
        <ion-label slot="start" class="bankedHours-label">
          Horas trabalhadas no período: {{bankedHours.totalWorkedHours}}<br>
          Horas extras 50%: {{bankedHours.extraHours}}<br>
          Horas extras 100%: {{bankedHours.extraWeekendHours}}<br>
          Horas faltantes: {{bankedHours.outstandingHours}}
        </ion-label>
      </ion-item>
    </ion-card-header>
  </ion-card>
  <ng-container *ngIf="hasInterval === true; else noInterval">
    <ion-card *ngFor="let dayRecord of records | reverse" class="record-card">
      <ion-card-header class="record-card-header">
        {{ formatDate(dayRecord.date) }}
      </ion-card-header>
      <ion-card-content class="record-card-content">
        <p class="record-card-text">Nome: {{ dayRecord.employee }}</p>
        <p class="record-card-text">Chegada: {{ formatTime(dayRecord.checkInTime) }}</p>
        <p class="record-card-text">Intervalo: {{ formatTime(dayRecord.startInterval) }}</p>
        <p class="record-card-text">Retorno: {{ formatTime(dayRecord.endInterval) }}</p>
        <p class="record-card-text">Saída: {{ formatTime(dayRecord.checkOutTime) }}</p>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #noInterval>
    <ion-card *ngFor="let dayRecord of records | reverse" class="record-card">
      <ion-card-header class="record-card-header">
        {{ formatDate(dayRecord.date) }}
      </ion-card-header>
      <ion-card-content class="record-card-content">
        <p class="record-card-text">Nome: {{ dayRecord.employee }}</p>
        <p class="record-card-text">Chegada: {{ formatTime(dayRecord.checkInTime) }}</p>
        <p class="record-card-text">Saída: {{ formatTime(dayRecord.checkOutTime) }}</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>
