ion-header {
  min-height: 80px;
  align-items: flex-end;
  justify-content: safe;
}

ion-toolbar {
  min-height: 40px;
  align-items: flex-end;
  justify-content: safe;
  margin-top: 40px;
}

.header-title {
  align-items: safe;
  justify-content: safe;
}

.record-card {
  margin: 10px;
}

.record-card-header {
  font-size: 16px;
  font-weight: bold;
}

.record-card-content p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.record-card-text {
  margin: 0;
}

.record-card-text:nth-child(3):empty::before {
  content: "N/A";
}

.bankedHours-filter {
  align-items: flex-start;
  justify-content: right;
  margin-top: 0px;
  margin-left: auto;
  margin-right: -30px;
  display: flex;
  padding: auto;
  position: relative;
}

.clock-icon {
  color: #011c43e6;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 2px;
  display: flex;
  padding: auto;
  position: relative;
  align-items: safe;
  justify-items: safe;
}

.banked-hours-card-header {
  flex-flow: column;
  position: relative;
  display: block;
  padding: 2px;
}

.bankedHours ion-item {
  --ion-item-text-color: #333;
  --ion-item-detail-color: #666;
  --ion-item-detail-font-size: 14px;
}

#totalBankedHours ion-label {
  font-size: 14px;
  font-weight: bold;
  padding: auto;
}

.bankedHours-items {
  padding: auto;
  display: block;
  flex-flow: column;
  justify-content: safe;
  align-items: safe;
  min-width: 150px;
}

.bankedHours-title {
  padding: auto;
  align-items: flex-start;
  justify-content: flex-start;
}

.bankedHours-icon {
  color: #999;
}

.bankedHours-title-text {
  align-items: safe;
  justify-content: safe;
  flex-flow: row;
}

.bankedHours-label {
  padding: 2px;
  margin-left: 0;
  margin-right: auto;
  display: flex;
  min-width: 300px;
}
