@import "~bootstrap/dist/css/bootstrap.css";

ion-item {
  --padding-start: 0;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
  display: flex;
  flex-flow: column-reverse;
}

ion-content.ios {
  --background: #fff;
}

ion-content.md {
  --background: #fff;
}

ion-label.ios {
  font-size: 14px;
}

ion-label.md {
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}


