.header-title {
  margin: 0 auto;
}

.bankedHours ion-item {
  --ion-item-text-color: #333;
  --ion-item-detail-color: #666;
  --ion-item-detail-font-size: 14px;
}

#totalBankedHours ion-label {
  white-space: inherit;
  font-size: 16px;
  font-weight: bold;
  padding: auto;
}

.record-card {
  margin: 10px;
}

.record-card-header {
  font-size: 16px;
  font-weight: bold;
}

.record-card-content p {
  margin: 5px 0;
  font-size: 14px;
  color: #666;
}

.record-card-text {
  margin: 0;
}

.record-card-text:nth-child(3):empty::before {
  content: "N/A";
}

.bankedHours-title {
  padding: 10px;
}

.bankedHours-icon {
  color: #999;
}

.bankedHours-title-text {
  flex-grow: 1;
  text-align: center;
}

.bankedHours-item {
  padding: 5px;
}

.bankedHours-label {
  white-space: pre;
  padding: auto;
  margin-left: 0;
  margin-right: auto;
  display: block;
}
